<dl>
  <dt>ID</dt>
  <dd>{{data.id}}</dd>

  <dt>Name</dt>
  <dd>{{data.name}}</dd>

  <dt>Order</dt>
  <dd>{{data.order}}</dd>

  <dt>Gender Rate</dt>
  <dd>{{data.gender_rate}}</dd>

  <dt>Capture Rate</dt>
  <dd>{{data.capture_rate}}</dd>

  <dt>Base Happiness</dt>
  <dd>{{data.base_happiness}}</dd>

  <dt>Growth rate</dt>
  <dd>{{data.growth_rate.name}}</dd>

  <dt>Color</dt>
  <dd>{{data.color.name}}</dd>

  <dt>Shape</dt>
  <dd>{{data.shape.name}}</dd>

  <dt>Generation</dt>
  <dd>{{data.generation.name}}</dd>






</dl>
