img {
  width: 50%;
  margin: auto;
  display: block;
}
h3 {
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  text-align: center;
  display: block;
  margin: auto;
  font-family: "VT323", monospace;
  text-decoration: none;
  font-size: 30px;
  color: #ff0000;
  margin-right: 15px;
  margin-left: 15px;
  text-decoration: none;
}
* {
  font-family: "VT323", monospace;
}
