<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

  <header><img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="">
  </header>
  <h1> {{title}}</h1>


  <nav class="menu">


    <a routerLink="./pokemons" routerLinkActive="st-active">Pokemons</a>
    <a routerLink="./species" routerLinkActive="st-active">Species</a>
    <a routerLink="./abilities" routerLinkActive="st-active">Abilities</a>
    <a routerLink="./types" routerLinkActive="st-active">Types</a>
    <a routerLink="./berries" routerLinkActive="st-active">Food (Berries)</a>
    <a routerLink="./info" routerLinkActive="st-active">Information</a>


  </nav>
  <router-outlet></router-outlet>
  <footer>

    <img src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi.svg?sanitize=true"><br>&copy;Copyright
    Poke
    API & 954447 CLIENT-SIDE SCRIPTING Project <br>
    632110149 Doolyawit Yodkaew<br>
    632110131 Chongkhom Rachwangmueng
  </footer>
</body>

</html>